/*
declaration block:

selector{
    property1: value1;
    property2: value2;
    property3: value3;
}
*/

body{
    background-color: aliceblue;
    color: darkslategrey;
}

nav{
   height: 600px;
   width: 200px;
   float: left;
   padding: 5px;
   line-height: 30px;
}

footer{
    text-align: center;
    margin-right: 200;
}

#memeImage{
    margin-right: 500px;
    position: relative;
    left: 0;
}

h1{
    text-align: center;
    border: 5px solid darkcyan;
    background-color: lavenderblush;
    font-family: georgia;
    font-size: 45px;
}

h2{
    text-align: center;
    border: 5px solid darkcyan;
    background-color: lavenderblush;
    font-family: georgia;
    font-size: 25px;
}

p{
    text-align: center;
    font-family: Georgia;
    background-color: lavenderblush;
    font-size: medium;
}

.container{
   text-align: center; 
   border: 2px solid darkcyan;
   display: flex;
   justify-content: center;
   align-items: center;
}


